{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies app</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'home_page.css' %}">
</head>

<body>
    <div class="navbar">
        <span><a href="{% url 'pokedex' %}">Pokédex</a></span>
        <span><a href="#">My Pokémon</a></span>
        <span><a href="{% url 'create_pokemon' %}">Create Pokémon</a></span>
        <span><a href="#">Play Game</a></span>

        {% if user.is_authenticated %}
            <span>Hello, {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></span>
        {% else %}
            <span><a href="{% url 'login' %}">Login</a></span>
        {% endif %}
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>