{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies app</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'home_page.css' %}">
</head>

<body>
    <div class="navbar">
        <span>Home</span>
        <span>Welcome to Pokedex!</span>
        <span>User</span>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>