<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home_page.css' %}">
</head>
<body>
    <h1>POKéMON WEBSITE</h1>
    <p class=final-project>Final Project by Andrei Gheorghiu</p>
    <nav>
        <a class="menu-button" onclick="location.href='{% url 'pokedex' %}'">Pokédex</a>
        <a class="menu-button" onclick="location.href=''">My Pokémon</a>
        <a class="menu-button" onclick="location.href='{% url 'create_pokemon' %}'">Create Pokémon</a>
        <a class="menu-button" onclick="location.href=''">Play Game</a>
        <div class="user-auth">
            {% if user.is_authenticated %}
                <span class="greeting">Hello, <strong>{{ user.username }}</strong></span>
                <a class="auth-link logout" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="auth-link login" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </nav>
    <main>
        <p>Page content goes here...</p>
    </main>
    <footer>
        <p>@Andrei Gheorghiu</p>
    </footer>
</body>
</html>