<!DOCTYPE html>
<html>
<head>
    <title>Pokedex</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pokedex.css' %}">
</head>
<body style="background-image: url('{% static 'background.jpg' %}');
             background-repeat: no-repeat; 
             background-size: 100% 100%; 
             background-position: center;">
    <h1>Pokédex</h1>
    <nav>
        <a class="menu-button" href="javascript:history.back()">Go Back</a>
    </nav>

    <label for="typeFilter">Filter by Type:</label>
    <select id="typeFilter" onchange="filterPokemon()">
    <option value="">All</option>
    <option value="Bug">Bug</option>
    <option value="Dark">Dark</option>
    <option value="Dragon">Dragon</option>
    <option value="Electric">Electric</option>
    <option value="Fairy">Fairy</option>
    <option value="Fighting">Fighting</option>
    <option value="Fire">Fire</option>
    <option value="Flying">Flying</option>
    <option value="Ghost">Ghost</option>
    <option value="Grass">Grass</option>
    <option value="Ground">Ground</option>
    <option value="Ice">Ice</option>
    <option value="Normal">Normal</option>
    <option value="Poison">Poison</option>
    <option value="Psychic">Psychic</option>
    <option value="Rock">Rock</option>
    <option value="Steel">Steel</option>
    <option value="Water">Water</option>
    </select>

    <script>
    function filterPokemon() {
        const filter = document.getElementById('typeFilter').value.toLowerCase();
        const pokemons = document.getElementsByClassName('pokemon');

        for (let i = 0; i < pokemons.length; i++) {
            const pokemon = pokemons[i];
            const typeParagraph = pokemon.getElementsByTagName('p')[1];
            const typeText = typeParagraph.innerText.toLowerCase();

            if (!filter || typeText.includes(filter)) {
                pokemon.style.display = 'block';
            } else {
                pokemon.style.display = 'none';
            }
        }
}
    </script>

    <div style="display: flex; flex-wrap: wrap;">
        {% for pokemon in pokemons %}
            <div class="pokemon">
                <h2>{{ pokemon.name }}</h2>
                <p><strong>Region:</strong> {{ pokemon.region }}</p>
                <p><strong>Types:</strong>
                    <img src="{% static 'icons/'|add:pokemon.type_1.name|lower|add:'.jpg' %}" 
                        alt="{{ pokemon.type_1.name }}" class="type-icon">
                    {{ pokemon.type_1.name }}
                    {% if pokemon.type_2 %}
                        /
                        <img src="{% static 'icons/'|add:pokemon.type_2.name|lower|add:'.jpg' %}" 
                            alt="{{ pokemon.type_2.name }}" class="type-icon">
                        {{ pokemon.type_2.name }}
                    {% endif %}
                </p>
                <p><strong>HP:</strong> {{ pokemon.hp }}</p>
                <p><strong>Attack:</strong> {{ pokemon.attack }}</p>
                <p><strong>Defense:</strong> {{ pokemon.defense }}</p>
                <p><strong>Speed:</strong> {{ pokemon.speed }}</p>
                <p><strong>Attacks:</strong></p>
                <div class="attack"> 
                    <img src="{% static 'icons/'|add:pokemon.attack_1.type.name|lower|add:'.jpg' %}"
                        alt="{{ pokemon.attack_1.type.name }}" class="type-icon">
                    {{pokemon.attack_1|safe}} 
                </div>
                <div class="attack"> 
                    <img src="{% static 'icons/'|add:pokemon.attack_2.type.name|lower|add:'.jpg' %}"
                        alt="{{ pokemon.attack_2.type.name }}" class="type-icon">
                    {{pokemon.attack_2|safe}} 
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>