.pokedex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.pokedex-card {
    width: 400px;
    min-height: 100px;
    height: auto;
    padding: 8px 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgb(45, 47, 56);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    background-color: rgb(206, 214, 255);
}

.pokemon-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
}

.description {
    font-size: 12px;
}

.rating {
    width: 100%;
    display: flex;
    justify-content: space-between;
}