body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
    margin: 20px;
}

h1 {
    text-align: center;
    color: whitesmoke;
    background-color: #d62828;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border-radius: 50px;
}

.pokedex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    width: 250px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.pokemon h2 {
    color: #003049;
}

.pokemon p {
    margin: 5px 0;
}

.attack {
    background-color: beige;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 14px;
    width: 200px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: 500;

}

.type-icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 20px;
    padding: 2px
}

.menu-button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #0077cc;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.menu-button:hover {
  background-color: #013964;
  transform: translateY(-2px);
}

.menu-button:active {
  background-color: #013964;
  transform: translateY(0);
}

.menu-button:focus {
  outline: 2px solid #ffffff88;
  outline-offset: 2px;
}

label, select {
    display: inline-block;
    margin: 10px 5px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #0077cc;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
}

#typeFilter {
    padding: 8px 12px;
    border-radius: 8px;
    border: 2px solid #333;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#typeFilter:hover {
    border-color: #ffcb05;
    background-color: #333;
}

#typeFilter:focus {
    outline: none;
    border-color: #ffcb05;
    box-shadow: 0 0 5px #ffcb05;
}
